html {
    box-sizing: border-box;
    font: bold oblique 24px "Helvetica";
    margin: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font: inherit;
    border-radius: 50px;
}

button.clicked {
    color: aliceblue;
    background-color: black;
}

.calculator {
    border: 5px solid black;
    padding: 1rem;
    min-width: 350px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border: 2px solid black;
}

.basic-operations {
    display: flex;
    justify-content: space-evenly;
    padding: .75rem 0px;
    gap: .5rem;
}

.basic-operations div {
    background-color: rgb(247, 197, 60);
    border: 2px solid black;
}

.numbers > *,
.basic-operations > * {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.numbers {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 52px;
}

.numbers div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.first-row > *,
.second-row > *,
.third-row > *,
.fourth-row > * {
    flex: 1;
    border: 2px solid black;
}

.fourth-row .zero {
    flex: 2.5;
}

.fourth-row .decimal {
    flex: 1;
}