html {
    box-sizing: border-box;
    font: bold oblique 24px "Helvetica";
    margin: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font: inherit;
    border-radius: 50px;
}

.basic-operations button.clicked {
    color: black;
    background-color: yellow;
}

#equals.clicked {
    background-color: red;
}

button.clicked {
    color: aliceblue;
    background-color: black;
}

.calculator {
    border: 5px solid black;
    border-radius: 20px;
    background-color: grey;
    padding: 1rem;
    min-width: 350px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    min-height: 50px;
    border: 2px solid black;
    font-size: 36px;
}

.basic-operations {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0px;
    gap: .5rem;
}

.basic-operations > * {
    background-color: rgb(228, 167, 1);
    border: 2px solid black;
}

.numbers > *,
.basic-operations > * {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

.numbers {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 52px;
}

.numbers div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.first-row > *,
.second-row > *,
.third-row > *,
.fourth-row > * {
    flex: 1;
    border: 3px solid black;
}

.first-row {
    padding-top: 0px;
}

.fourth-row .zero {
    flex: 2.5;
}

.fourth-row .decimal {
    flex: 1;
    min-height: 68px;
}